/* ------------------- */
/*  Reset              */
/* ------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/*  Variables          */
/* ------------------- */
:root {
  --nexus-color-text-main: var(--nexus-color-dark-blue);
  --nexus-color-bg-main: var(--nexus-color-white);
  --nexus-color-outline-link: var(--nexus-color-blue-white);
  --nexus-color-bg-header: var(--nexus-color-white-85);
  --nexus-color-bg-footer: linear-gradient(0deg, rgb(51, 65, 85) 0%, rgb(51, 65, 85) 100%);
  --nexus-color-bg-card: var(--nexus-color-white);
  --nexus-shadows-card-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --nexus-color-outline-card: var(--nexus-color-light-blue);
  --nexus-color-scrollbar: var(--nexus-color-dark-grey-80);
  svg#sun {
    display: none;
  }
  svg#moon {
    display: block;
  }
}

:root[data-theme="dark"] {
  --nexus-color-text-main: var(--nexus-color-white);
  --nexus-color-bg-main: var(--nexus-color-dark-blue);
  --nexus-color-bg-header: var(--nexus-color-dark-blue-85);
  --nexus-color-bg-footer: linear-gradient(0deg, rgb(15, 23, 42) 0%, rgb(11, 17, 31) 100%);
  --nexus-color-bg-card: var(--nexus-color-dark-blue-light);
  --nexus-shadows-card-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --nexus-color-outline-card: var(--nexus-color-white-80);
  --nexus-color-scrollbar: var(--nexus-color-light-blue-80);
  svg#sun {
    display: block;
  }
  svg#moon {
    display: none;
  }
}

/* ------------------- */
/*  Content            */
/* ------------------- */

body,
html {
  background-color: var(--nexus-color-bg-main);
  color: var(--nexus-color-text-main);
  font-family: var(--nexus-font-family-main);
  transition: background-color 350ms ease-in-out;
}

body.popup-open {
  overflow: hidden;
}

h1 {
  font-family: var(--nexus-font-family-title);
  font-size: 3em;
}

svg {
  color: var(--nexus-color-text-main);
}
