.anim-scale {
  transition: 0.3s transform ease-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.03);
  }
}

.anim-stretch {
  animation-name: stretch;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.78, 0.4, 0.44, 1.4);
  animation-delay: 0;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
