// Card popup
.card-popup {
  margin-inline: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 32rem;
  width: 60rem;
  max-width: 90%;
  max-height: 90%;
  overflow-y: scroll;
  z-index: var(--nexus-pos-dialog);
  transform-origin: top left;
  visibility: hidden;
  background-color: var(--nexus-color-bg-card);
  box-shadow: var(--nexus-shadows-card-lg);
  border-radius: var(--nexus-radius-popup-lg);

  &__inner {
    padding: 2.5rem 2rem;
    opacity: 0;
    transition: opacity 0.15s linear 0s;
    display: flex;
    flex-direction: column;

    .popup-open & {
      opacity: 1;
      transition: opacity 0.15s linear 0.15s;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    &__dismiss {
      > * {
        pointer-events: none;
      }
    }
  }

  .popup-open & {
    visibility: visible;
    transition: transform 0.35s cubic-bezier(0.78, 0.4, 0.44, 1.4) 0s, visibility 0s linear 0s;
  }

  .popup-close & {
    visibility: hidden;
    transition: transform 0.35s ease-out 0s, visibility 0s linear 0.3s;
  }
}

// Backdrop
.card-popup-backdrop {
  z-index: var(--nexus-pos-dialog-backdrop);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.25s ease-in;
  .popup-open & {
    visibility: visible;
    opacity: 1;
  }
}

@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  background: none;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: calc(($size - $thickness) / 2);
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }
}

.card-popup__dismiss {
  @include cross(35px, var(--nexus-color-text-main), 5px);
  cursor: pointer;
  position: relative;
}
