:root {
  --nexus-height-card-sm: 150px;
  --nexus-height-card-md: 200px;
  --nexus-height-card-lg: 250px;
}

.cards {
  display: grid;
  grid-gap: 2rem;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  .-app-open & {
    transform: scale(0.8);
  }

  @media screen and (min-width: 1025px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  cursor: pointer;
  display: flex;
  padding: 1.5rem;
  min-height: 150px;
  font-size: var(--nexus-font-size-md);
  background-color: var(--nexus-color-bg-card);
  box-shadow: var(--nexus-shadows-card-lg);
  border-radius: var(--nexus-radius-card-lg);
  &:hover {
    outline: 3px solid var(--nexus-color-outline-card);
  }
  @media screen and (min-width: 1281px) {
    height: var(--nexus-height-card-lg);
    font-size: var(--nexus-font-size-lg);
  }
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    height: var(--nexus-height-card-md);
    font-size: var(--nexus-font-size-md);
  }
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    height: var(--nexus-height-card-sm);
    font-size: var(--nexus-font-size-md);
  }
  p {
    align-self: flex-end;
  }
}

.card-popup {
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: top left;
  width: 60vw;
  min-height: 60%;

  z-index: 2000;
  font-size: var(--nexus-font-size-md);
  background-color: var(--nexus-color-bg-card);
  box-shadow: var(--nexus-shadows-card-lg);
  border-radius: var(--nexus-radius-card-lg);

  &__inner {
    color: #fff;
    padding: 50px;
    opacity: 0;
    transition: opacity 0.15s linear 0s;

    .-popup-open & {
      opacity: 1;
      transition: opacity 0.15s linear 0.15s;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }

  &__dismiss {
    font-size: 24px;

    > * {
      pointer-events: none;
    }
  }

  .-popup-open & {
    visibility: visible;
    transition: transform 0.3s ease-in-out 0s, visibility 0s linear 0s;
  }

  .-popup-close & {
    visibility: hidden;
    transition: transform 0.3s ease-in-out 0s, visibility 0s linear 0.3s;
  }
}

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV
