:root {
  --nexus-color-white: white;
  --nexus-color-white-80: rgba(255, 255, 255, 0.80);
  --nexus-color-white-85: rgba(255, 255, 255, 0.85);
  --nexus-color-dark-blue: rgb(15, 23, 42);
  --nexus-color-dark-blue-85: rgb(15, 23, 42, 0.85);
  --nexus-color-dark-blue-light: rgb(15, 23, 42);
  --nexus-color-blue-white: rgb(217, 234, 247);
  --nexus-color-gradiant-blue: linear-gradient(0deg, rgb(51, 65, 85) 0%, rgb(51, 65, 85) 100%)
  --nexus-color-light-blue: rgb(154, 183, 203);
}