@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --nexus-font-family-main: "Inter", sans-serif;
  --nexus-font-family-title: "Crimson Pro", serif;
  --nexus-font-size-sm: 1em;
  --nexus-font-size-md: 1.125em;
  --nexus-font-size-lg: 1.3125em;
}
